@{
    ViewBag.Title = "Electronics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background: url('../Images/bg.jpg'); height: 100px; width: auto;">

    <!--Creating Page Header-->
    <div class="container" style="color:white;">

        <div class="page-header">
            <br /><br /><br /><br /><br /><br />
            <h2>
                Electronic Services
                <small>Fix It</small>
            </h2>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p>
                    Electronic services are provided for eCorporate and residential sector too. Professionally trained electricans are directed to visit the site and examine the issue. Problem is catered with intense care as per requirement. Hazardous things are handled with caution with the intimacy of technicians. Emergency situations are considered to be responded on time.
                </p>
            </div>
        </div>
        <!--Services Title-->
        <div class="row" style="background-color:white">
            <div class="col-md-12">
                <div class="section-title text-center wow fadeInDown">
                    <h2>Services</h2>
                    <p style="color:black">Fix It is the industry leading portal for the maintenance purposes, serving its potential customers. Providing a comfort zone by reducing the timely efforts to find a contractor for your desired work load.</p>
                </div>
            </div>
        </div>

        <!--Different Sections-->
        <!--CTool Box-->
        <div class="row rectangle" style="background-color:white;">
            <div class="col-lg-4">
                <img src="~/Images/electronics/toolbox.png" alt="Electronics" class="img-responsive" height="100" width="100" />
            </div>
            <div class="col-lg-8">
                <br />
                <p style="color:black">
                    Electronic services are provided to commercial and residential customers.
                </p>
            </div>
        </div>

        <!--Wiring-->
        <div class="row rectangle" style="background-color:white;">
            <div class="col-lg-4">
                <img src="~/Images/electronics/switch.png" alt="Electronics" class="img-responsive" height="100" width="100" />
            </div>
            <div class="col-lg-8">
                <br />
                <p style="color:black">
                   Cables, switches, fuse, regulators, motors, generators and other electronic things are
                    <br />repaired and maintained by the electricians.
                </p>
            </div>
        </div>

        <!--Power-->

        <div class="row rectangle" style="background-color:white;">
            <div class="col-lg-4">
                <img src="~/Images/electronics/power.png" alt="Electronics" class="img-responsive" height="100" width="100" />
            </div>
            <div class="col-lg-8">
                <br />
                <p style="color:black">
                    Power supply issues or faults are catered. Maintenence or fitting of control panels is maintained by the technicians.
                </p>
            </div>
        </div>
        <!--Warning-->
        <div class="row rectangle" style="background-color:white;">
            <div class="col-lg-4">
                <img src="~/Images/electronics/warning.png" alt="Electronics" class="img-responsive" height="100" width="100" />
            </div>
            <div class="col-lg-8">
                <br />
                <p style="color:black">
                    Fix It is providing the complete electric repair and installation for residential and eCorp sectors.
                </p>
            </div>
        </div>

        <!--Electrician-->
        <div class="row rectangle" style="background-color:white;">
            <div class="col-lg-4">
                <img src="~/Images/electronics/electrician.jpg" alt="Electronics" class="img-responsive" height="80" width="100" />
            </div>
            <div class="col-lg-8">
                <br />
                <p style="color:black">
                    Emergency services are provided in the official hours as per request.
                </p>
            </div>
        </div>

    </div>
    <br /><br />
</body>
