@{
    ViewBag.Title = "Plumber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background: url('../Images/bg.jpg'); height:100px; width:auto;">

    <!--Creating Page Header-->
    
    <div class="container" style="color:white;">
        <div class="page-header">
            <br /><br /><br /><br /><br /><br />
            <h2>
                Plumbing Services
                <small>Fix It</small>
            </h2>
        </div>
        <!--Description-->
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Any plumbing installation or maintenence should be done thoroughly to insure that your problem has been fixed and won't occur in future. Fix It provides services for any plumbing problem and can identify and fix future problems with high maintence and professionally trained syaff. We ensure to provide you with our services in 14 hours after your contact. Emergency Services are provided as well on the bases of your contact and requirements.
                </p>
            </div>
        </div>
        <!--Services Title-->
            <div class="row" style="background-color:white">
                <div class="col-md-12">
                    <div class="section-title text-center wow fadeInDown">
                        <h2>Services</h2>
                        <p style="color:black">Fix It is the industry leading portal for the maintenance purposes, serving its potential customers. Providing a comfort zone by reducing the timely efforts to find a contractor for your desired work load.</p>
                    </div>
                </div>
            </div>

            <!--Different Sections-->
            <!--Sink-->
            <div class="row rectangle" style="background-color:white;">
                <div class="col-lg-4">
                    <img src="~/Images/plumber/plumber_1.png" alt="plumber" class="img-responsive" height="100" width="100" />
                </div>
                <div class="col-lg-8">
                    <br />
                    <p style="color:black">
                        Reapiring any demage or leakage of the pipes, pipes installation is provided for
                        <br /> commercial and residential sector.
                    </p>
                </div>
            </div>
            <!--Pipe Lines-->
            <div class="row rectangle" style="background-color:white">
                <div class="col-lg-4">
                    <img src="~/Images/plumber/pipe_line-512.png" alt="plumber" class="img-responsive" height="100" width="100" />
                </div>
                <div class="col-lg-8">
                    <br />
                    <p style="color:black">Leakage repairing or installation of water or pump system.</p>
                </div>
            </div>
            <!--Valve and Tapping-->
            <div class="row rectangle" style="background-color:white">
                <div class="col-lg-4">
                    <img src="~/Images/plumber/valve-and-tapping-sleeves.png" alt="plumber" class="img-responsive" height="100" width="100" />
                </div>
                <div class="col-lg-8">
                    <br />
                    <p style="color:black">
                        Maintenece or installation of valve and tapping system. Fix It, providing drainage or
                        <br /> WC block problem solution.
                    </p>
                </div>
            </div>
            <!--Toilets-->
            <div class="row rectangle" style="background-color:white">
                <div class="col-lg-4">
                    <img src="~/Images/plumber/Toilet-512.png" alt="plumber" class="img-responsive" height="100" width="100" />
                </div>
                <div class="col-lg-8">
                    <br />
                    <p style="color:black">Sanitary installation or reparing is provided.</p>
                </div>
            </div>
            <!--Water Heater-->
            <div class="row rectangle" style="background-color:white">
                <div class="col-lg-4">
                    <img src="~/Images/plumber/waterHeater.png" alt="plumber" class="img-responsive" height="100" width="100" />
                </div>
                <div class="col-lg-8">
                    <br />
                    <p style="color:black">Installation and repairing of water heater system is provided.</p>
                </div>
            </div>
            <!--Emergency Staff-->
            <div class="row rectangle" style="background-color:white">
                <div class="col-lg-4">
                    <img src="~/Images/plumber/Staff.png" alt="plumber" class="img-responsive" height="100" width="100" />
                </div>
                <div class="col-lg-8">
                    <br />
                    <p style="color:black">Services of emergency staff is provided in the official hours on contact.</p>
                </div>
            </div>
        </div>
    <br /><br />
</body>
