page-plumbing .page-plumbing-heading h2 {
    background: url(img/plumbing.png) repeat-x;
    padding: 0 0 0 75px;
    margin: 20px 0px 20px 0px;
}
page-plumbing {
    width: 960px;
    height: 1180px;
    /* height: 980px; */
    margin: 7px 0px 0px 0px;
    padding: 4px 20px;
    background: #FFF;
    float: left;
    position: relative;
}
user agent stylesheetdiv {
    display: block;
}
Inherited from body#we-do
body {
    margin: 20px;
    color: #000;
    background: #ECECEC;
    font: 130%/1.3 Calibri;
    margin: 0 0;
    padding: 0 0;
}
.rectangle
{
    border: 1px solid gray;
    padding: 10px 10px 10px 10px;
}
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 20px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
}

#login form input[type="submit"]:hover {
  background-color: #d44179;
}